body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    background-color: #fefff9;
}

/*header*/

header {
    background-color: #295128;
    padding: 1rem 2vw;
    font-size: 1.3rem;
}

header h1 {
    margin: 0;
    color: #fefff9;
}

header p {
    margin: 0;
    color: #fefff9;
    letter-spacing: 1px;
    font-weight: 600;
}

/*nav*/

nav {
    background-color: #295128;
}

nav ul {
    list-style-type: none;
    padding: 0 2vw;
    margin: 0;
    display: flex;
}

nav a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #db8d97;
    font-weight: 600;
    display: block;
    padding: 0.83rem 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    color: #fefff9;
}

nav li.active a {
    color: #fefff9;
}

/*main*/

main {
    padding: 1rem 2vw;
}

main h1 {
    color: #295128;
    margin: 1rem 0 1.5rem 0;
    font-size: 2.5rem;
}

main h2 {
    color: #db8d97;
    margin-bottom: -0.5rem;
    font-size: 1.7rem;
}

main p {
    padding: 0 0 0.3rem 0;
    font-size: 1.2rem;
}

main ul {
    list-style-type: circle;
    padding: 0 2vw;
}

main ol {
    padding: 0.5rem 2rem;
    background-color: #e5eec5;
    border-radius: 5px;
    border: 1px solid #e5eec5;
    list-style-type: upper-roman;
}

main ol li {
    font-size: 1.1rem;
}

main dl dt {
    font-weight: 600;
    color: #a2d780;
    font-size: 1.1rem;
}

main dl dd {
    font-size: 1rem;
    padding: 0 0 0.7vw 1vw;
}

main li {
    line-height: 125%;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

main address {
    font-style: normal;
    background-color: #295128;
    color: #fefff9;
    padding: 0.5rem;
    width: 13rem;
    border: 2px solid #172418;
    border-radius: 5px;
    margin-top: 3rem
}

main a {
    color: #db8d97;
}

main a:hover {
    color: #a2d780;
}
main address a{
    color: #fefff9;
}

main address a:hover {
    color: #db8d97;
}

figure.front {
    width: 30%;
    margin: 0 0 0 2%;
    float: right;
}

figure.front img {
    width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

figure.front figcaption {
    text-align: center;
    background-color: #db8d97;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.gallery figure {
    margin: 0.7rem;
}

div.gallery img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}

div.gallery figcaption {
    text-align: center;
    background-color: #db8d97;
    font-size: 0.9rem;
    padding: 0.4rem 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*footer*/

footer {
    background-color: #295128;
    text-align: center;
    color: #fefff9;
    padding: 1rem 0;
    font-size: 0.8rem;
    clear: both;
}

footer a {
    color: #fefff9;
}

footer a:hover {
    color: #db8d97;
}

